.unit-wrapper{
    position: relative;
    width: fit-content;
}

.unit-menu {
    position: absolute;
    display: none;
    top: calc(100% + 0.5rem);
    right: 0;
    padding: 0.5rem 0.5rem;
    /*background-color: var(--color-neutral-800);*/
    background-color: red;
    padding: 0.5rem 0.5rem;
    width: 200px;
    
    height: 300px;
    border: 1px solid var(--color-neutral-600);
    border-radius: 0.5rem;
}

.unit-menu.active{
    display: block;
    
}
.unit-item{
    /*color: var(--color-neutral-0);*/
    font-size:0.875rem;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: var(--font-primary);
    cursor: pointer;
    padding: 0.5rem 0.5rem;
}

.unit-item:hover{
    padding: 0.5rem 0.rem;
    border-radius: 0.25rem;
    background-color: var(--color-neutral-600);
}
